.bg{
    background-image: url("Pd.png"); /* The image used */
    background-color: #000; /* Used if the image is unavailable */
    background-position: fill;
    background-repeat: no-repeat;
    width: 1416.11px;
    position: relative;
    left: 42.57px;

}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px;
    gap: 10px;

    position: absolute;
    width: 344px;
    height: 63px;
    left: 584px;
    top: 459.5px;

    /* Primary Green */

    background: #A9FF1C;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
.usure{
    background-color: aliceblue;
    color: #000;
    left: 620px;
    top: 390px;
    position: absolute;
    gap: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;    
    padding: 15px;
    
    width: 190px;
    height: 45px;
    font-size: 23px;
    font-weight: 700;
    line-height: 19.36px;
    }


   